services:
  minium:
    build:
      context: ./
      network: host
    environment:
      - "MINIUM__CREDENTIALS__ADMIN__PASSWORD=${MINIUM__CREDENTIALS__ADMIN__PASSWORD:-password}"
      - "MINIUM__CREDENTIALS__ADMIN__USER=${MINIUM__CREDENTIALS__ADMIN__USER:-admin}"
      - "MINIUM__CREDENTIALS__READONLY__PASSWORD=${MINIUM__CREDENTIALS__READONLY__PASSWORD:-password}"
      - "MINIUM__CREDENTIALS__READONLY__USER=${MINIUM__CREDENTIALS__READONLY__USER:-readonly}"
      - "MINIUM__CREDENTIALS__READWRITE__PASSWORD=${MINIUM__CREDENTIALS__READWRITE__PASSWORD:-password}"
      - "MINIUM__CREDENTIALS__READWRITE__USER=${MINIUM__CREDENTIALS__READWRITE__USER:-readwrite}"
      - "MINIUM__SERVER__HOST=${MINIUM__SERVER__HOST:-0.0.0.0}"
      - "MINIUM__SERVER__PORTS__S3=${MINIUM__SERVER__PORTS__S3:-10210}"
      - "MINIUM__SERVER__PORTS__WEB=${MINIUM__SERVER__PORTS__WEB:-10211}"
      - "MINIUM__URLS__WEB=${MINIUM__URLS__WEB:-http://localhost:10211}"
    network_mode: host
    volumes:
      - data:/database/data/

volumes:
  data: {}
